<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movie Table</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
</head>
<body>
<h2> The Table details of the movies watched by {{ name }}</h2>

<table>
    <tr>
        <th>Name </th>
        <th>Duration</th>
        <th>Comments</th>
    </tr>
    {% for m, l in movies.items() %}
     <tr>
        <td>{{m}}</td>
         <td>{{l}}</td>
         {% if l > 2 %}
         <td style="color:green">Long Movie</td>
         {% else %}
          <td style="color:orange">Short Movie</td>
         {% endif %}
    </tr>

    {% endfor %}

</table>


</body>
</html>